
block content
  .col-sm-4.mt-2.mb-2
    .card
      img.card-img-top(src=`${recipe.image_url}` alt=`${recipe.title}`)
      .card-body
        h5.card-title #{recipe.title}
        p.card-text
          | Rating: #{recipe.social_rank}%
        .btn-group(role='group')
          button.btn.btn-primary.get-recipe-button(type="button", data-toggle="modal", data-target="#recipeModal" id=`${recipe.recipe_id}`)
            | Get Recipe
          if recipe.favOption 
            if recipe.isFavorited
              button.ml-1.btn.btn-warning.favorite-recipe-button.recipeButtonFavorited(type="button", id=`${recipe.recipe_id}`, autocomplete="off")
                | 💛
            else
              button.ml-1.btn.btn-light.favorite-recipe-button(type="button", id=`${recipe.recipe_id}`, autocomplete="off")
                | 💛
