
block content
  .col-sm-4.mt-2.mb-2
    .card
      img.card-img-top(src=`${recipe.image_url}` alt=`${recipe.title}`)
      .card-body
        h5.card-title #{recipe.title}
        p.card-text
          | This is ranked #{recipe.social_rank} out of 100.
        button.btn.btn-primary.get-recipe-button(type="button", data-toggle="modal", data-target="#recipeModal" id=`${recipe.recipe_id}`)
          | Get Recipe
        button.btn.btn-primary.favorite-recipe-button(type="button", id=`${recipe.recipe_id}`)
          | Favorite Recipe
        
